/* GLOBAL */
.App {
  text-align: center;
  background-color: #ab7f40;
}

/* HEADER */
.headerBloc {
  display: flex;
  font-size: larger;
  align-items: center;
  background-color: #282c34;
  color: white;
}

.App-header {
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
    width: 65%;
    margin-left: auto;
}

.logo {
  width: 40px;
  margin-left: 2%;
}

h1 {
  margin-left: 2%;
}

h3 {
  color: #855f29;
  text-transform: uppercase;
}

.App-header li {
  color: white !important;
  list-style: none;
}

.App-header li a {
  color: white !important;
  text-decoration: none;
}

.navMobile {
  display: none;
}

/* CONTAINER */
.containerBloc {
  min-height: 500px;
}

/* LOGIN */
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 50%;
  margin: 15% auto;
  padding: 2% 5%;
}

/* REGISTER */
.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 50%;
  margin: 15% auto;
  padding: 2% 5%;
}

/* FOOTER */
.footerBloc {
  display: flex;
  font-size: larger;
  align-items: center;
  background-color: #282c34;
  color: white;
  justify-content: space-around;
}

/* COMPONENTS */

/* MOBILE */
@media only screen and (max-width: 600px) {
  .App-header {
    display: none;
  }
  .navMobile {
    display: block;
  }
  .headerBloc {
    justify-content: space-evenly;
  }
}

/* TABLETTES */
@media only screen and (min-width: 601px) and (max-width: 992px) {

}

/* DESKTOP */
@media only screen and (min-width: 993px) {
  .loginForm {
    width: 30%;
  }
  
  .registerForm {
    width: 30%;
  }

}